{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UCL</title>
    <link rel="stylesheet" href="{% static 'css/new.css' %}">
</head>
<body>
    <center>
        <h1>BARCELONA R THE BEST...</h1>
        <a href="{% url 'app1:page1' %}"><h2>click here to go page1</h2></a>
        <br>
        <img src="{% static 'images/msn.jpg' %}" height="800" width="1600" alt="">
    </center>
</body>
</html>